body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #441550;
	color: #cccccc;
}

.Repo {
	color: #cccccc !important;
	text-decoration: none;
	padding: 32px 20px;
}

.Repo:hover {
	background-color: #6e4b79;
}

a {
	cursor: pointer;
	user-select: none;
}

.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}

.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background-color: #d8d8d8;
	font-size: 14px;
}

.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}

.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table tbody tr:nth-child(even) {
	background-color: #f3f3f3;
}

.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

.captionBottom {
	caption-side: bottom;
}

.table {
	border: 3px solid #d8d8d8;
	border-radius: 30px;
	padding: 10px;
	margin: 30px;
	max-width: 300px;
}

.BuyOrSell {
	max-width: 320px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

input {
	border: 1px solid #cccccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: #ffffff !important;
	outline: none;
	height: 24px;
	width: 140px;
	color: #000000;
	font-size: 18px;
	font-family: Tahoma;
}

select {
	margin: 0 10px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.h3 {
	text-align: center;
}
.BuyOrSell {
	display: flex;
	flex-direction: column;
}
